.wrapper {
	padding: 1rem 1.4rem;

	gap: 1rem;
}
ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button,
.btn {
	background: transparent;
	border: 1px solid #999;
	padding: 0.4rem 0.8rem;
	font-weight: 600;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
button:hover,
.btn:hover {
	border-color: #000;
	background-color: #000000;
	color: #fff;
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}
label {
	display: flex;
	flex-direction: column;
}

input,
textarea {
	border: 1px solid #999;
	border-radius: 20px;
	padding: 0.4rem 0.8rem 0.4rem;
	width: 80%;
}

label > input,
label > textarea {
	margin-top: 0.4rem;
}

textarea {
	resize: none;
	min-height: 150px;
}
table {
	border-collapse: collapse;
	width: 100%;
}
tr,
td,
th {
	border: 3px double #adadad;
}

.detail__container {
	margin-block: 2rem;
}

.btn__group {
	display: flex;
	justify-content: right;
}

p > span {
	font-weight: bold;
}
.btn__pagenation {
	padding: 0.8rem;
	border: unset;
}
.btn__pagenation:hover {
	background-color: unset;
	color: unset;
}
